[Unit]
Description=Palworld Server
After=network.target

[Service]
User=steam
Group=steam
Type=simple
ExecStart=/home/steam/Steam/steamapps/common/PalServer/PalServer.sh
Restart=always
RuntimeMaxSec=4h
RestartSec=20s
MemoryMax=12G
ExecStopPost=/bin/sh -c 'sleep 15; /home/steam/scripts/backup.sh -cold'

[Install]
WantedBy=multi-user.target